// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_question {
  display: none
}

.question-summary {
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 0 10px 0;
}
